// Set Color All Pages
$color-white: #ffffff;
$color-black: #1f1f25;
$color-gray: rgba(255, 255, 255, 0.2);
$color-purple: #7c62ff;
$color-purple-1: #a74ed0;
$color-green: #59c98d;
$color-green-1: #12d8df;
$color-blue: #337dff;
$color-blue-1: #6c79fd;
$color-pink: #fd4766;
$color-pink-1: #dcb5bf;
$color-pink-2: #e17288;
