.header-navbar {
    padding: 2rem;
    background: transparent;
    &__left {
        img {
            width: 60%;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        &--ul {
            li {
                margin-left: 2rem;
                a {
                    color: white !important;
                }
            }
        }
        &--button {
            button {
                padding: 1.3rem 3.5rem;
                border-radius: 6rem;
                background: transparent;
                border: 2px solid gray;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: white;
                transition: all 0.5s;
                &:hover {
                    color: white;
                    background-color: red;
                }
            }
        }
    }
}
